@import "tailwindcss";
@import "@nuxt/ui";

@keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
  }
  
  .favorite-bounce {
    animation: bounce 0.5s ease;
  }

  
  
  